@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.light-theme {
    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 97%);
  
    --action-primary: hsl(214, 32%, 91%);
    --action-secondary: hsl(210, 38%, 95%);
  
    --foreground-primary: hsl(218, 23%, 23%);
    --foreground-secondary: hsl(216, 15%, 52%);
    --foreground-tertiary: hsl(214, 20%, 69%);
  
    --accent: hsl(229, 76%, 66%);
  
  }
  
  :root {
  
    --white: hsl(0, 0%, 100%);
  
    --fs-base: 0.85rem;
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 0.875rem;
    --fs-5: 0.75rem;
  
    --py: 5rem;
  
  }

  :focus { outline-offset: 4px; }

  ::-webkit-scrollbar { width: 16px; }
  
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 20px;
    border: 4px solid;
  }
  
  .light-theme::-webkit-scrollbar-thumb { border-color: hsl(0, 0%, 90%); }
  
  .light-theme::-webkit-scrollbar-track { background: hsl(0, 0%, 90%); }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-wrapper{
    height: 100vh;
}
.about-left{
    background: hsl(229, 76%, 66%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: #30c0d3;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: #f36a8d;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons li a{
    text-decoration: none;
    color: #fff;
}


.icons li:hover{
    background: #edffec;
}

.icons li a:hover{
    color: #000;
}


.about-right{
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #dd2d4a;
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 1rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn.btn-pink{
    background: #dd2d4a;
    color: #fff;
    border-color: #dd2d4a;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: #dd2d4a;
    color: #000;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #dd2d4a;
    border-color: #dd2d4a;
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}

footer { 
    background: var(--background-primary);
    height: 50vh;
 }

footer .container {
  padding: var(--py) 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

footer .wrapper { 
    text-align: center;
 }

.footer-logo {
     margin-bottom: 10px; 
     margin-left: 80px;
    }

.footer-text {
  color: var(--foreground-secondary);
  max-width: 400px;
  padding-left: 80px;
}

.footer-title {
  color: var(--foreground-primary);
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.footer-link { 
    color: var(--foreground-secondary);
    text-decoration: none;
}

.footer-link:hover { color: var(--accent); }

.copyright {
  color: var(--foreground-secondary);
  font-size: var(--fs-4);
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--action-primary);
}

.copyright a {
  color: hsl(229, 76%, 66%);
  font-weight: 500;
  text-decoration: none;
}

.copyright a:hover { text-decoration: underline; }


@media (min-width: 650px) {
    footer .container {
        padding: var(--py) 30px;
        grid-template-columns: 2fr 1fr 1fr;
      }
    
      footer .wrapper { text-align: left; }
    
      .footer-text { margin: 0; }
    
    }

    @media (min-width: 1024px) {
    .footer-title { font-size: 1.125rem; }
  .footer-link { margin-bottom: 0.3rem; }
}

.footer-logo img{
  height: 60px;
  width: 90px;
}

.footer-logo{
  display: flex;
  text-decoration: none;
}

.footer-logo h1{
  margin-left: 8px;
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}

.wrapper ul li{
    list-style-type: none;
}

.navbar{
    height: 16vh;
    display: flex;
}

.navbar a img{
    height: 60px;
    width: 90px;
    margin-top: 25px;
    margin-left: 100px;
  }

  .navbar a h1{
    margin-top: 30px;
    margin-left: 5px;
    font-weight: 800;
  }

  .navbar a{
    display: flex;
    text-decoration: none;
  }

  .der{
    display: flex;
    list-style-type: none;
    margin-top: 45px;
    margin-left: 480px;
  }

  .der li a{
    color: hsl(216, 15%, 52%);
    padding: 0px 12px;
    font-weight: 600;
    font-size: 17px;
  }

  .der li a:hover{
    color: hsl(229, 76%, 66%);
  }